/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/reset.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&led_strip { chain-length = <27>; };

&mt {
    bindings = <&kp>, <&kp>;

    flavor = "balanced";
    tapping-term-ms = <150>;
    quick-tap-ms = <50>;
};

/ {
    combos {
        compatible = "zmk,combos";

        L_reset {
            bindings = <&sys_reset>;
            key-positions = <3 16 29>;
            timeout-ms = <50>;
            layers = <0>;
        };

        R_reset {
            bindings = <&sys_reset>;
            key-positions = <30 19 8>;
            timeout-ms = <50>;
            layers = <0>;
        };

        L_boot {
            bindings = <&bootloader>;
            key-positions = <0 13 26>;
            timeout-ms = <50>;
            layers = <0>;
        };

        R_boot {
            bindings = <&bootloader>;
            key-positions = <11 22 33>;
            timeout-ms = <50>;
            layers = <0>;
        };

        Cmd_Shift_F12 {
            bindings = <&kp LS(LG(F12))>;
            key-positions = <3 4>;
            timeout-ms = <50>;
            layers = <0>;
            require-prior-idle-ms = <30>;
        };

        input_ch {
            bindings = <&kp LC(SPACE)>;
            key-positions = <19 21>;
            timeout-ms = <50>;
            layers = <0>;
            require-prior-idle-ms = <30>;
        };

        CAPS_LOCK {
            bindings = <&kp CAPSLOCK>;
            key-positions = <36 41>;
            timeout-ms = <150>;
            require-prior-idle-ms = <30>;
            layers = <0>;
        };

        LAYER_3 {
            bindings = <&mo 3>;
            key-positions = <38 39>;
            timeout-ms = <50>;
            layers = <0>;
        };
    };

    macros {
        EUR_: EUR_ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(E) &kp LS(U) &kp LS(R) &kp UNDER>;

            label = "EUR_";
        };

        CRM_: CRM_ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(C) &kp LS(R) &kp LS(M) &kp UNDER>;

            label = "CRM_";
        };
    };

    behaviors {
        bkspc_del: bkspc_del {
            compatible = "zmk,behavior-mod-morph";
            label = "BKSPC_DEL";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        layer_mod_morph: layer_mod_morph {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_MOD_MORPH";
            bindings = <&mo>, <&bkspc_del>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E       &kp R               &kp T        &kp Y                 &kp U           &kp I            &kp O    &kp P          &bkspc_del
&sk LALT    &kp A  &kp S  &kp D       &kp F               &kp G        &kp H                 &kp J           &kp K            &kp L    &kp SEMICOLON  &mt LEFT_ALT SINGLE_QUOTE
&sk LCTRL   &kp Z  &kp X  &kp C       &kp V               &kp B        &kp N                 &kp M           &kp COMMA        &kp DOT  &kp FSLH       &sk RCTRL
                          &sk LSHIFT  &mt LEFT_GUI ENTER  &lt 1 TAB    &layer_mod_morph 2 0  &mt RGUI SPACE  &sk RIGHT_SHIFT
            >;
        };

        lower_layer {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3     &kp N4    &kp N5       &kp LS(AMPS)   &kp LS(LT)    &kp EQUAL           &kp LS(GT)    &kp LS(PIPE)   &kp LS(BACKSLASH)
&trans  &kp N6  &kp N7  &kp N8     &kp N9    &kp N0       &kp LBKT       &kp LS(LPAR)  &kp LS(UNDERSCORE)  &kp LS(RPAR)  &kp RBKT       &kp LS(GRAVE)
&trans  &none   &none   &kp MINUS  &kp PLUS  &kp TILDE    &kp LS(DLLR)   &kp LS(LBRC)  &kp MINUS           &kp LS(RBRC)  &kp LS(CARET)  &kp LS(EXCL)
                        &trans     &trans    &trans       &kp BACKSPACE  &trans        &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &kp C_MUTE          &kp C_VOLUME_DOWN     &kp C_VOL_UP           &kp BACKSLASH        &kp PIPE       &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &kp LEFT            &kp DOWN              &kp UP_ARROW           &kp RIGHT            &kp PAGE_UP    &trans
&trans  &kp F11  &kp F12  &EUR_   &CRM_   &none      &kp LA(LEFT_ARROW)  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LA(RIGHT_ARROW)  &kp PAGE_DOWN  &trans
                          &trans  &trans  &trans     &trans              &trans                &trans
            >;
        };

        function_layer {
            bindings = <
&trans  &none  &none  &none   &none   &none     &none         &none         &none         &none       &none  &trans
&trans  &none  &none  &none   &none   &none     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &none  &trans
&trans  &none  &none  &none   &none   &none     &none         &none         &none         &none       &none  &trans
                      &trans  &trans  &trans    &trans        &trans        &trans
            >;
        };
    };
};
